<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
</head>
<body>
<h1>HELLO THERE I AM DELIGHTED TO RENDER THIS PAGE VIA EJS FROM THE VIEWS FOLDER.</h1>
<p>After rendering the page is where the magi happens.Our post request is made from inside the form pages
    rendered by ejs (simply used for rendering the html pages.) </p>
</body>
</html>