<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Content Management Platform</title>
	<link rel="stylesheet" href="/views/imagesPage.ejs">
</head>
<style>
	body{
   /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(24, 106, 117, 1) 52%, rgba(2, 59, 66, 1) 98%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(24, 106, 117, 1) 52%, rgba(2, 59, 66, 1) 98%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(24, 106, 117, 1) 52%, rgba(2, 59, 66, 1) 98%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023B42', endColorstr='#000000', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(24, 106, 117, 1) 52%, rgba(2, 59, 66, 1) 98%);


	background-size: cover;
	width: 100vw;
	height:100vh;

};

.list-box{
	list-style-type: none; 
	color:white; 
	margin:2px 0px;
}
.list-item{
	list-style-type: none;
	color:white;
	margin:2px 0px;
}

.container{
    margin:0 25px;
    display: flex;
    flex-direction:column;
}
h1{
	text-decoration: underline;
	color: black;
	text-align: center;
}
form{
	display:flex;
	flex-direction: column;
	justify-content:center;
	}

	.form-button{
		align-self: center;
		margin-top:20px;
	}

	.form-button button{
		height:40px;
		width:120px;
		font-size:18px;
		border:none;
		border-radius:5px;
		background-color:rgb(32, 57, 149);
		color:white;
	}

	.form-input{
		display:flex;
		justify-content: center;
		align-items: center;
       
	}

	.form-input input {
		margin:10px 0;
		height:2rem;
		width:40vw;
		font-size:20px;
		font-style:italic;
		font-family: 'Courier New', Courier, monospace;
        outline:none;
        border:none;
        border-radius:5px;
	}

	textarea {
		margin:0 10px;
		height:100px;
		width:40vw;
        border:none;
        outline:none;
        border-radius:5px;

	}
    .image-box{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		margin:auto;
		padding:auto;
	}
    .image-container{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
        align-items:flex-start;
        justify-content:center;
				
	}
    .image-card{
		margin:0 5px;
		display:flex;
		flex-direction: column;
		align-items:center;
		text-transform: uppercase;
		font-weight: 700;
	}

	img{
		height:200px;
		width:100%;
		margin:0 5px;
        border:1px solid black;
		border-radius:10px;
	}
	
	h1,h2,h3,p,label{
		color:white;
	}

	h2,h3{
		text-decoration: underline;
	}
</style>

<body>
	<h1>UPDATE CONTENT ON YOUR FRONT END WITH EASE. </h1>
	<div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div class="form-input">
				<input type="text" id="name" placeholder="Input Image Title"
					value="" name="name" required>
			</div>
			<div class="form-input">
				<textarea id="desc" name="desc" value=""
						placeholder="Describe your image" required>
				</textarea>
			</div>
			<div class="form-input image">
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			<div class="form-button">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

	<div class="image-box">

	<h1 class="image-box-title">IMAGES USED ON THE FRONTEND</h1>

	<div class="image-container">

      <% items.forEach(function(item) { %>
        <div class="image-card">
          <img src =<%= item.location %> alt= "AboutUs Image"></img>
          <p class=" image-title"> <%= item.company %></p>
		</div>    
      <% }); %>
	</div>
</div>

</body>

</html>
